.wrapper-login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}

.from-area {
    border: 2px solid rgb(1, 63, 63);
}


.task_header {
    width: 100%;
    
}
.task_header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: auto;
    gap: 10px;
    background: rgb(1, 63, 63);
    padding: 10px 0px;
    text-align: center;
    border-radius: 30px
}

.task_header ul li a:hover{
background: rgba(248, 248, 248, 0.26);
border-radius: 5px;
text-decoration: none;
color: white;
}

.task_header a {
color: white;
text-decoration: none;
margin: 0px 5px;
padding: 5px;
}

.actions {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.task-view {
    width: 50%;
    margin: auto;
    background: #f9f8f8;
    padding: 10px;
    border: 2px solid rgb(1, 63, 63);
}

.task-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}