.wrapper-login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}

.from-area {
    border: 2px solid rgb(1, 63, 63);
}


.task_header {
    width: 100%;
    
}
.task_header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: auto;
    gap: 10px;
    background: rgb(1, 63, 63);
    padding: 10px 0px;
    text-align: center;
    border-radius: 30px
}

.task_header ul li a:hover{
    background: rgba(248, 248, 248, 0.26);
    border-radius: 5px;
    text-decoration: none;
    color: white;
}

.task_header a {
    color: white;
    text-decoration: none;
    margin: 0px 5px;
    padding: 5px;
}

.actions {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.task-view {
    width: 50%;
    margin: auto;
    background: #f9f8f8;
    padding: 10px;
    border: 2px solid rgb(1, 63, 63);
}

.task-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.create-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.sort-by-date {
    background-color: #1b94c5;
    font-weight: 700;
    padding: 5px 10px;
    color: white;
    text-decoration: none;
}

.sort-by-date:hover{
    text-decoration: none;
    background-color: rgba(1, 63, 63, 0.671);
    color: white;
}


.task_table {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

}
.task-btn {
    background: rgb(1, 63, 63);
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    color: white;
    border: 2px solid #1b94c5;
}

a.task-btn:hover {
    text-decoration: none;
    background: rgba(1, 63, 63, 0.671);
    color: white
}